@import url("normalize.css");
@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("../font/Alimama_ShuHeiTi_Bold.woff2") format("woff2"),
    url("../font/Alimama_ShuHeiTi_Bold.woff") format("woff");
    font-display: swap;
  }
p,a,h1,h2,h3,h4,h5, legend{
    font-family: "阿里妈妈数黑体 Bold";
}
.flex-justify-between{
    justify-content: space-between !important;
}

.flex-d{
    display: flex !important;
}

.flex-row{
    flex-direction: row !important;
}

.flex-col{
    flex-direction: column !important;
}

.circle-border{
    border-radius: 100%;
}

.flex-wrap{
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

a:link{
    color: #000;
}

a:visited{
    color: #000;
}

.max_height{
    height: 100%;
}