@import url("base.css");

@media (max-width:992px){
    #top_nav>.header_logo{
        display: none;
    }
    #links{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header_nav{
        width: 100%;
    }

    header ul{
        list-style-type: none;
    }
    #top_nav{
        position: fixed;
        top: 0px;
        background-color: white;
        z-index: 1000;
        width: 100%;
        height: 140px;
    }
    .bg_icon{
        width: 20px; height: 20px;
        background: url('../images/css_sprites.png');
        background-size: 39px 39px;
        margin: auto 0;
        display: inline;
    }
    .bg_home {
        background-position: 0px 20px;
    }
    .bg_mnist {
            background-position: 0px 0px;      
    }
    .bg_re {
        background-position: 20px 0px;      
    }
    .bg_form {
        background-position: 20px 20px;      
    }

}

@media (max-height: 300px){
    #top_nav{
        position: relative;
    }
}

@media (min-width: 992px){

    #top_nav>.header_logo{
        display: flex;
    }

    header ul{
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    
    header{
        z-index: 1000;
        position: fixed;
        top: 0%;
        background-color: #fff;
        width: 80%;
    }
    
    body{
        width: 80%;
        position: absolute;
        left: 10%;
        margin: 0 0 0 0;
    }
    
    .header_nav a{
        padding: 8px 16px 8px 16px;
        background-color: transparent;
        border-width: 0px;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        text-emphasis-color: black;
        text-decoration-color: black;
    }
    
    .header_nav ul{
        height: 100%;
    }
    
    .header_logo img{
        height: 100px;
        width: 100px;
    }
    
    .header_nav li{
        display: flex;
        background-color: #fff;
        transition: all 0.3s linear;
    }
    
    .header_nav a{
        margin: auto;
        transition: all 0.3s linear;
    }
    
    .header_nav li:hover{
        display: flex;
        background-color: #000;
    }
    
    .header_nav li:hover a{
        color: #fff;
    }

    #top_nav{
        display: flex !important;
        height: 100px;
    }

    #links{
        display: flex;
    }
    .bg_icon{
        width: 39px; height: 39px;
        background: url('../images/css_sprites.png');
        background-size: 78px 78px;
        margin: auto;
        display: inline;
    }
    .bg_home {
        background-position: 0px 39px;
    }
    .bg_mnist {
            background-position: 0px 0px;      
    }
    .bg_re {
        background-position: 39px 0px;      
    }
    .bg_form {
        background-position: 39px 39px;      
    }
}
#logout{
    align-self: center;
}
