/*负责列表式导航栏的样式*/
@import url("base.css");

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?96574145');
    src: url('../font/fontello.eot?96574145#iefix') format('embedded-opentype'),
         url('../font/fontello.woff?96574145') format('woff'),
         url('../font/fontello.ttf?96574145') format('truetype'),
         url('../font/fontello.svg?96574145#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 992px){
    .list_nav{
        display: none;
    }
    .list_nav_mobile_show{
        overflow: hidden;
        width: 50%;
        height: 100%;
        background-image: linear-gradient(#eee, #fff);
        display: flex !important;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 1001;
        transition: all 0.3s linear;
    }
}
@media (min-width: 992px){
    .list_nav{
        width: 20%;
        background-image: linear-gradient(#eee, #fff);
        margin-left: 12px;
        display: flex !important;
    }
}
.list_nav_item_wrapper_hidden ul{
    max-height: 0px;
    overflow: hidden;
}

.list_nav_item_wrapper_hidden::before{
    font-family: "fontello";
    content: "\e800";
    margin-right: 2px;
}

.list_nav_item_wrapper::before{
    font-family: "fontello";
    content: "\e801";
    margin-right: 2px;
}

.list_nav_viewer li{
    cursor: pointer;
    margin-top: 5px;
}
.list_nav div{
    overflow: hidden;
}

a{
    display: block;
}

li{
    list-style-type: none;
}
